*.DS_Store
.git
.idea
.vscode
configurations
coverage
interpolated-files
node_modules
scripts
tests
.dockerignore
*.env
*.log*
.gitignore
.nvmrc
.yarn-integrity
Dockerfile
Jenkinsfile
README.md
.editorconfig
